# sublime-text-3
sublime-text-3/*
!sublime-text-3/Packages/
sublime-text-3/Packages/*
!sublime-text-3/Packages/User/
sublime-text-3/Packages/User/*
!sublime-text-3/Packages/User/*.sublime-settings
# vlc
vlc/vlc-qt-interface.conf
